/* @import url('../css/base.css'); */

/* fenetre */
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2000px; left: 28%;
    background-color: rgba(77, 77, 77, .7);
    transition: 0.5s;
}

/* ouverture de la fenetre */
.modal:target {
    visibility: visible;
    opacity: 1;
}

/* contenu de la fenetre */
.modal_content {
    background-color: white;
    border-radius: 5px;
    padding: 1em 5em;
    width: 500px;
    

    position: relative;
}
.modal_content img {
    width: 100%;
    object-fit: cover;
}

/* fermeture de la fenetre */
.modal_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
    padding: 3px 6px;
    background-color: grey;
    color: var(--orange);
    border-radius: 5px;
}

/* bouton navigation gauche */
.btn-left {
    left: 13px;
}

/* bouton navigation droit */
.btn-right {
    right: 13px;
}

.btn-dim {
    position: absolute;
    top: 50%;
    font-size: 2em;
    color: var(--orange);
    padding: 5px 10px;
    background-color: grey;
    border-radius: 5px;
}
.modal_content a {
    border: 2px solid grey;
}
/* hover sur les boutons */
.fa-solid.fa-arrow-left-long:hover,
.fa-solid.fa-arrow-right-long:hover,
.fa-solid.fa-rectangle-xmark:hover {
    text-shadow: 0 0 20px white!important;
    text-shadow: 0 0 5px black!important;
    color: white;
}
.modal_content a:hover {
    border: 2px solid black!important;

}