@import url(base.css);



/* header */
.header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 20px;
}
nav div {
    display: flex;
    height: 90px;
    align-items: center;
}
.nav-bar ul {
    display: flex;
    margin: 0;
    margin-right: 50px; 
    gap: 30px;
}
.nav-bar a {
    color: var(--grisnoir);
}
.nav-bar a:hover {
    border-bottom: 3px solid var(--orange);
    padding-bottom: 10px;
}
.nav-bar a:focus {
    content: "";
    border-bottom: 3px solid var(--orange);
    padding-bottom: 10px;
}
#logo-index {
    height: 0;
    display: flex;
    align-items: center;
}



/* ------------------*/
/*  page index.html  */
/* ------------------*/


/* accueil */
.accueil {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    padding: 30px 0;
    height: auto;
    background-size: cover;
    background-image: url("../img/agence-la-panthere.webp");
}
.accueil h1 {
    font-weight: 700;
    font-size: 42px;
    padding: 50px 0;
    color: var(--grisnoir);
}
.accueil h1,
.accueil span,
.accueil img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
/* fin accueil */



/* présentation de l'entreprise */
.presentation {
    display: block;
    margin: 20px 200px;
    font-weight: normal;
}

.titre-presentation {
    max-width: 600px;
    margin: 0 auto;
}

.modules {
    display: flex;
    max-width: 800px;
    margin: auto;
    gap: 30px;
}

.msg-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px auto;
    max-width: 650px;

}
/* fin présentation de l'entreprise */





/* services */
.services {
    display: flex;
    background-image: url("../img/image_de_presentation.webp");
    background-attachment: fixed;
    background-size: cover;
}
.cadre {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    background-color: rgba(0, 0, 0, .2);
    margin: 50px 0;
}
.cadre a {
    margin-bottom: 50px;
}
.cadre h3, .cadre p {
    padding: 0 50px;
}
.cadre h3 { margin-top: 80px; }
.cadre p { font-weight: 500; }
/* fin services */





/* portfolio */
.container {
    background: url("../img/lines-h2-bg.webp")!important;
    background: repeat;
}
.portfolio {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.portfolio p {
    margin: 80px 0 60px 0;
}
.disposition {
    display: flex;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    gap: 30px;
}
.disposition > div {
    width: 50%;
}
.disposition p,
.disposition h3 {
    margin: 10px 0;
}
.disposition p {
    padding-bottom: 40px;
}
.card {
    display: flex;
    flex-direction: column;
}
.card img {
    width: 100%;
}
/* fin portfolio */






/* bas de page */
.bas-de-page {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url("../img/la_chouette_agence_banniere.webp");
}
.fond-noir {
    max-width: 650px;
    height: 350px;
    background-color: rgba(0, 0, 0, .2);
    margin: auto;
    padding: 0 80px;
}
.bdp-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
    height: 350px;
}
.btn-bdp {
    display: flex;
    margin-top: 30px;
    margin: 0 auto;
}
/* fin de bas de page */




/* footer */
footer {
    margin: 0;
    background-color: var(--orangelight);
    padding: 20px 0;
}
/* fin footer */




/* --------------------*/
/*  page contact.html  */
/* --------------------*/

/* présentation */
.description {
    text-align: center;
    padding: 80px 0;
}
.fond-contact {
    display: flex;
    justify-content: center;
    background-color: var(--orange);
    background-image: url("../img/dots-bg.webp");
}
/* fin présentation */



/* formulaire */
.form-contact {
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
}
.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}
#form_1 {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;
    height: 300px;
    margin-top: 35px;
}
#form_1 input,
#form_1 label,
#form_1 textarea {
    width: 100%;
    margin: 0;
    padding: 0;
}
#form_1 input {
    margin-bottom: 30px;
}

#form_1 input,
#form_1 textarea {
    font-size: 16px;
    background-color: #ffe3d6;
}
.btn-contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* fin formulaire */


/* bouton scroll top */
.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    z-index: 500;
    opacity: 1;
    border: 1px solid var(--grisnoir);
    color: var(--grisnoir);
    background: rgba(0, 0, 0, .2);
}
.scrollToTop:hover {
    background: var(--orangelight);
}
.scrollToTop i {
    padding: 8px;
}
/* fin bouton scroll top */



/* footer */
.my-footer {
    margin: 0 auto;
    background-color: var(--orange);
    padding: 20px 0;
}
.my-footer p {
    margin: 0;
}
/* fin footer */






/* média query */
@media (max-width:1200px) {
    .presentation {
        margin: 20px auto;  
        padding-left: 10px;
        padding-right: 10px; 
    }
}

@media (max-width:700px) {
    .disposition {
        flex-direction: column;
    }
    .disposition div {
        width: 270px;
    }
    .card {
        justify-content: center;
    }
}

@media (max-width:576px) {
    .modules {
        display: flex;
        flex-direction: column;
        width: 260px;
    }
    .bas-de-page {
        background-size: cover;
        background-image: url("../img/la_chouette_agence_banniere-small.webp");
    }
    .accueil {
        background-image: url("../img/agence_la_panthere-small.webp");
    }
}

@media (max-width:320px) {
    .description h1 {
        font-size: 30px;
    }
    #form_1 {
        display: flex;
        width: 90%;
    }
    .fond-noir {
        padding: 0;
    }
    .cadre h3, .cadre p {
        padding: 0 10px;
    }
    .msg-main {
        margin: 40px auto;
    }
    .accueil h1 {
        font-size: 30px;
    }
    .modal {
        left: 9px;
        width: 310px;
    }
    .btn-dim {
        top: 87%;
        padding: 0 5px;
    }
    .btn-left {
        left: 20px;
    }
    .btn-right {
        right: 20px;
    }
    .modal_content h3 {
        margin: 0;
        margin-bottom: 15px;
    }
    .modal_content {
        padding: 1em;
    }
    .bas-de-page {
        background-size: cover;
        background-image: url("../img/la_chouette_agence_banniere-ultrasmall.webp");
    }
    .accueil {
        background-image: url("../img/agence_la_panthere-ultrasmall.webp");
    }
}